<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./logo-vue.svg">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <script defer src="app.js"></script>
</head>
<body>
  
  <h1>Hello Vue :)</h1>

  <div id="app">
    <button @click="showBooks = !showBooks">
      <span v-if="showBooks">Hide books</span>
      <span v-else>Show books</span>
    </button>

    <div v-show="showBooks">Currently showing books</div>

    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
  
      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>
      <button @click="changeTitle('The final Empire II')">Change Title</button>
    </div>
    
  </div>

</body>
</html>